<h1>{{title}}</h1>
<p>Bienvenido a {{title}}</p>
<nav>
  <ul>
    <li><a href="/rutaUno">Ruta Uno</a></li>
    <li><a href="/rutaDos">Ruta Dos</a></li>
    <li><a href="/rutaTres">Ruta Tres</a></li>
  </ul>
</nav>