<h2>Ruta Uno</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam facere
  mollitia possimus id, nihil nostrum accusamus in sint, quos distinctio, iusto
  delectus? Quos aspernatur repudiandae in assumenda deserunt dolor fugit?</p>
  <nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/rutaDos">Ruta Dos</a></li>
    <li><a href="/rutaTres">Ruta Tres</a></li>
  </ul>
</nav>