<h2>Ruta Dos</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam facere
  mollitia possimus id, nihil nostrum accusamus in sint, quos distinctio, iusto
  delectus? Quos aspernatur repudiandae in assumenda deserunt dolor fugit?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ducimus
  ullam vel accusamus, adipisci, esse et harum obcaecati facilis asperiores quod
  omnis, quaerat quibusdam numquam id natus nemo non pariatur.</p>
  <nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/rutaUno">Ruta Uno</a></li>
    <li><a href="/rutaTres">Ruta Tres</a></li>
  </ul>
</nav>